In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#### OBJECT CREATION

# Series
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
# Datetime
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# DataFrame
# np.random.randn - Return a sample (or samples) from the “standard normal” distribution
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))
df

                   A         B         C         D
2013-01-01  0.741089 -0.029440 -0.560082  0.310494
2013-01-02 -0.315940  1.242430 -0.494656 -1.008457
2013-01-03  0.927838 -2.058557  1.238861 -2.423042
2013-01-04 -0.984729 -0.294892 -0.606450  0.995601
2013-01-05 -1.210746 -1.354295 -0.356630  0.449456
2013-01-06 -0.621575  0.666263  0.734156 -1.533214

In [7]:
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20130102'), 
                    'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    'D' : np.array([3] *4, dtype = 'int32'),
                   'E' : pd. Categorical(["test", "train", "test", "train"]),
                   'F' : 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df2. # +<TAB>

SyntaxError: invalid syntax (<ipython-input-9-07fdab42a885>, line 1)

In [10]:
##### VIEWING DATA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))

df.head()

                   A         B         C         D
2013-01-01  0.034393 -0.330260  0.335835  1.375307
2013-01-02  0.011861  0.460868 -0.018731  0.900382
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888
2013-01-04  0.782756  0.431478  0.280506  0.718330
2013-01-05 -0.137932 -0.099262  0.748656 -0.614722

In [11]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.782756  0.431478  0.280506  0.718330
2013-01-05 -0.137932 -0.099262  0.748656 -0.614722
2013-01-06 -2.147665 -0.272785  1.387813  0.767983

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.values

array([[ 0.0343933 , -0.33026004,  0.33583475,  1.37530703],
       [ 0.01186061,  0.46086833, -0.01873073,  0.9003824 ],
       [-0.25216463, -0.06844245, -0.85513104,  0.63988766],
       [ 0.78275561,  0.43147765,  0.28050628,  0.71832999],
       [-0.13793234, -0.09926197,  0.74865644, -0.61472216],
       [-2.14766493, -0.27278504,  1.3878128 ,  0.76798285]])

In [15]:
# Transposing your data
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.034393    0.011861   -0.252165    0.782756   -0.137932   -2.147665
B   -0.330260    0.460868   -0.068442    0.431478   -0.099262   -0.272785
C    0.335835   -0.018731   -0.855131    0.280506    0.748656    1.387813
D    1.375307    0.900382    0.639888    0.718330   -0.614722    0.767983

In [16]:
df.sort_index(axis=1, ascending = False)

                   D         C         B         A
2013-01-01  1.375307  0.335835 -0.330260  0.034393
2013-01-02  0.900382 -0.018731  0.460868  0.011861
2013-01-03  0.639888 -0.855131 -0.068442 -0.252165
2013-01-04  0.718330  0.280506  0.431478  0.782756
2013-01-05 -0.614722  0.748656 -0.099262 -0.137932
2013-01-06  0.767983  1.387813 -0.272785 -2.147665

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.284792  0.020266  0.313158  0.631195
std    0.982086  0.344711  0.751155  0.664056
min   -2.147665 -0.330260 -0.855131 -0.614722
25%   -0.223607 -0.229404  0.056079  0.659498
50%   -0.063036 -0.083852  0.308171  0.743156
75%    0.028760  0.306498  0.645451  0.867283
max    0.782756  0.460868  1.387813  1.375307

In [18]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01  0.034393 -0.330260  0.335835  1.375307
2013-01-06 -2.147665 -0.272785  1.387813  0.767983
2013-01-05 -0.137932 -0.099262  0.748656 -0.614722
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888
2013-01-04  0.782756  0.431478  0.280506  0.718330
2013-01-02  0.011861  0.460868 -0.018731  0.900382

In [19]:
df['A']

2013-01-01    0.034393
2013-01-02    0.011861
2013-01-03   -0.252165
2013-01-04    0.782756
2013-01-05   -0.137932
2013-01-06   -2.147665
Freq: D, Name: A, dtype: float64

In [20]:
df[0 : 3]

                   A         B         C         D
2013-01-01  0.034393 -0.330260  0.335835  1.375307
2013-01-02  0.011861  0.460868 -0.018731  0.900382
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888

In [21]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.011861  0.460868 -0.018731  0.900382
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888
2013-01-04  0.782756  0.431478  0.280506  0.718330

In [22]:
df.loc[dates[0]]

A    0.034393
B   -0.330260
C    0.335835
D    1.375307
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.034393 -0.330260
2013-01-02  0.011861  0.460868
2013-01-03 -0.252165 -0.068442
2013-01-04  0.782756  0.431478
2013-01-05 -0.137932 -0.099262
2013-01-06 -2.147665 -0.272785

In [25]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.011861  0.460868
2013-01-03 -0.252165 -0.068442
2013-01-04  0.782756  0.431478

In [27]:
df.loc['20130102',['A','B']]

A    0.011861
B    0.460868
Name: 2013-01-02 00:00:00, dtype: float64

In [29]:
df.loc[dates[0],'A']

0.034393304772875999

In [30]:
df.at[dates[0],'A']

0.034393304772875999

In [31]:
df.iloc[3]

A    0.782756
B    0.431478
C    0.280506
D    0.718330
Name: 2013-01-04 00:00:00, dtype: float64

In [33]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.782756  0.431478
2013-01-05 -0.137932 -0.099262

In [34]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.011861 -0.018731
2013-01-03 -0.252165 -0.855131
2013-01-05 -0.137932  0.748656

In [35]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.011861  0.460868 -0.018731  0.900382
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888

In [36]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -0.330260  0.335835
2013-01-02  0.460868 -0.018731
2013-01-03 -0.068442 -0.855131
2013-01-04  0.431478  0.280506
2013-01-05 -0.099262  0.748656
2013-01-06 -0.272785  1.387813

In [37]:
df.iloc[1,1]

0.46086833463689275

In [38]:
df.iat[1,1]

0.46086833463689275

In [39]:
# Boolean Indexing
df[df.A>0]

                   A         B         C         D
2013-01-01  0.034393 -0.330260  0.335835  1.375307
2013-01-02  0.011861  0.460868 -0.018731  0.900382
2013-01-04  0.782756  0.431478  0.280506  0.718330

In [40]:
df[df>0]

                   A         B         C         D
2013-01-01  0.034393       NaN  0.335835  1.375307
2013-01-02  0.011861  0.460868       NaN  0.900382
2013-01-03       NaN       NaN       NaN  0.639888
2013-01-04  0.782756  0.431478  0.280506  0.718330
2013-01-05       NaN       NaN  0.748656       NaN
2013-01-06       NaN       NaN  1.387813  0.767983

In [42]:
# The isin() method for filtering
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01  0.034393 -0.330260  0.335835  1.375307    one
2013-01-02  0.011861  0.460868 -0.018731  0.900382    one
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888    two
2013-01-04  0.782756  0.431478  0.280506  0.718330  three
2013-01-05 -0.137932 -0.099262  0.748656 -0.614722   four
2013-01-06 -2.147665 -0.272785  1.387813  0.767983  three

In [45]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888   two
2013-01-05 -0.137932 -0.099262  0.748656 -0.614722  four

In [47]:
# Setting a new column automatically aligns the data by the indexes
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [49]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01  0.034393 -0.330260  0.335835  1.375307  NaN
2013-01-02  0.011861  0.460868 -0.018731  0.900382  1.0
2013-01-03 -0.252165 -0.068442 -0.855131  0.639888  2.0
2013-01-04  0.782756  0.431478  0.280506  0.718330  3.0
2013-01-05 -0.137932 -0.099262  0.748656 -0.614722  4.0
2013-01-06 -2.147665 -0.272785  1.387813  0.767983  5.0

In [58]:
df.at[dates[0],'A'] = 0
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.335835  5  NaN
2013-01-02  0.011861  0.460868 -0.018731  5  1.0
2013-01-03 -0.252165 -0.068442 -0.855131  5  2.0
2013-01-04  0.782756  0.431478  0.280506  5  3.0
2013-01-05 -0.137932 -0.099262  0.748656  5  4.0
2013-01-06 -2.147665 -0.272785  1.387813  5  5.0

In [57]:
df.iat[0,1] = 0
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.335835  5  NaN
2013-01-02  0.011861  0.460868 -0.018731  5  1.0
2013-01-03 -0.252165 -0.068442 -0.855131  5  2.0
2013-01-04  0.782756  0.431478  0.280506  5  3.0
2013-01-05 -0.137932 -0.099262  0.748656  5  4.0
2013-01-06 -2.147665 -0.272785  1.387813  5  5.0

In [59]:
# Setting by assigning with a numpy array
df.loc[:,'D'] = np.array([5]*len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.335835  5  NaN
2013-01-02  0.011861  0.460868 -0.018731  5  1.0
2013-01-03 -0.252165 -0.068442 -0.855131  5  2.0
2013-01-04  0.782756  0.431478  0.280506  5  3.0
2013-01-05 -0.137932 -0.099262  0.748656  5  4.0
2013-01-06 -2.147665 -0.272785  1.387813  5  5.0

In [60]:
df2 = df.copy() # копирует значения, но не отображает
df2[df2>0] = -df2  # сделал все значения df2, которые > 0 , отрицательными
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.335835 -5  NaN
2013-01-02 -0.011861 -0.460868 -0.018731 -5 -1.0
2013-01-03 -0.252165 -0.068442 -0.855131 -5 -2.0
2013-01-04 -0.782756 -0.431478 -0.280506 -5 -3.0
2013-01-05 -0.137932 -0.099262 -0.748656 -5 -4.0
2013-01-06 -2.147665 -0.272785 -1.387813 -5 -5.0

In [62]:
# Недостающие данные
# Pandas в первую очередь использует значение np.nan для представления отсутствующих данных. 
# По умолчанию он не включен в вычисления.
# Reindexing позволяет вам изменять / добавлять / удалять индекс по указанной оси. 
# Это возвращает копию данных.
df1 = df.reindex(index=dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.335835  5  NaN  1.0
2013-01-02  0.011861  0.460868 -0.018731  5  1.0  1.0
2013-01-03 -0.252165 -0.068442 -0.855131  5  2.0  NaN
2013-01-04  0.782756  0.431478  0.280506  5  3.0  NaN

In [63]:
# Удаление строк с отсутствующими данными
df1.dropna(how = 'any')

                   A         B         C  D    F    E
2013-01-02  0.011861  0.460868 -0.018731  5  1.0  1.0