In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#### OBJECT CREATION

# Series
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
# Datetime
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# DataFrame
# np.random.randn - Return a sample (or samples) from the “standard normal” distribution
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.771218  0.073709 -0.442669  0.934772
2013-01-02 -0.292252  1.330732  1.191269  0.663561
2013-01-03 -2.171159  0.056398  1.501837 -0.323125
2013-01-04  0.351566 -0.545950  0.339256 -0.420012
2013-01-05  0.125734 -1.035531  1.037776 -0.654355
2013-01-06  0.437350 -1.025839 -0.937279  0.980559

In [6]:
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20130102'), 
                    'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    'D' : np.array([3] *4, dtype = 'int32'),
                   'E' : pd. Categorical(["test", "train", "test", "train"]),
                   'F' : 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df2. # +<TAB>

SyntaxError: invalid syntax (<ipython-input-8-07fdab42a885>, line 1)

In [10]:
##### VIEWING DATA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))

df.head()

                   A         B         C         D
2013-01-01 -0.050630  0.336796  1.617014  0.425687
2013-01-02  1.053730  2.388452 -1.252138 -0.436632
2013-01-03  0.099480 -0.297875 -1.541487  0.010356
2013-01-04 -0.340377  0.248557 -0.674892  0.411950
2013-01-05  2.137912  0.730857  0.552391  1.208585

In [11]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.340377  0.248557 -0.674892  0.411950
2013-01-05  2.137912  0.730857  0.552391  1.208585
2013-01-06  0.736088 -1.149093 -0.480031 -0.189146

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.values

array([[-0.05062976,  0.33679573,  1.61701401,  0.42568727],
       [ 1.05372973,  2.38845181, -1.25213778, -0.43663162],
       [ 0.09947962, -0.29787537, -1.54148745,  0.01035595],
       [-0.34037664,  0.24855741, -0.67489231,  0.41194997],
       [ 2.1379124 ,  0.73085657,  0.55239138,  1.20858547],
       [ 0.73608806, -1.14909329, -0.48003141, -0.18914645]])

In [15]:
# Transposing your data
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.050630    1.053730    0.099480   -0.340377    2.137912    0.736088
B    0.336796    2.388452   -0.297875    0.248557    0.730857   -1.149093
C    1.617014   -1.252138   -1.541487   -0.674892    0.552391   -0.480031
D    0.425687   -0.436632    0.010356    0.411950    1.208585   -0.189146

In [16]:
df.sort_index(axis=1, ascending = False)

                   D         C         B         A
2013-01-01  0.425687  1.617014  0.336796 -0.050630
2013-01-02 -0.436632 -1.252138  2.388452  1.053730
2013-01-03  0.010356 -1.541487 -0.297875  0.099480
2013-01-04  0.411950 -0.674892  0.248557 -0.340377
2013-01-05  1.208585  0.552391  0.730857  2.137912
2013-01-06 -0.189146 -0.480031 -1.149093  0.736088

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.606034  0.376282 -0.296524  0.238467
std    0.910768  1.180990  1.185095  0.582567
min   -0.340377 -1.149093 -1.541487 -0.436632
25%   -0.013102 -0.161267 -1.107826 -0.139271
50%    0.417784  0.292677 -0.577462  0.211153
75%    0.974319  0.632341  0.294286  0.422253
max    2.137912  2.388452  1.617014  1.208585

In [18]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  0.736088 -1.149093 -0.480031 -0.189146
2013-01-03  0.099480 -0.297875 -1.541487  0.010356
2013-01-04 -0.340377  0.248557 -0.674892  0.411950
2013-01-01 -0.050630  0.336796  1.617014  0.425687
2013-01-05  2.137912  0.730857  0.552391  1.208585
2013-01-02  1.053730  2.388452 -1.252138 -0.436632

In [19]:
df['A']

2013-01-01   -0.050630
2013-01-02    1.053730
2013-01-03    0.099480
2013-01-04   -0.340377
2013-01-05    2.137912
2013-01-06    0.736088
Freq: D, Name: A, dtype: float64

In [20]:
df[0 : 3]

                  A         B         C         D
2013-01-01 -0.05063  0.336796  1.617014  0.425687
2013-01-02  1.05373  2.388452 -1.252138 -0.436632
2013-01-03  0.09948 -0.297875 -1.541487  0.010356

In [21]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  1.053730  2.388452 -1.252138 -0.436632
2013-01-03  0.099480 -0.297875 -1.541487  0.010356
2013-01-04 -0.340377  0.248557 -0.674892  0.411950

In [22]:
df.loc[dates[0]]

A   -0.050630
B    0.336796
C    1.617014
D    0.425687
Name: 2013-01-01 00:00:00, dtype: float64

In [23]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.050630  0.336796
2013-01-02  1.053730  2.388452
2013-01-03  0.099480 -0.297875
2013-01-04 -0.340377  0.248557
2013-01-05  2.137912  0.730857
2013-01-06  0.736088 -1.149093

In [24]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  1.053730  2.388452
2013-01-03  0.099480 -0.297875
2013-01-04 -0.340377  0.248557

In [25]:
df.loc['20130102',['A','B']]

A    1.053730
B    2.388452
Name: 2013-01-02 00:00:00, dtype: float64

In [26]:
df.loc[dates[0],'A']

-0.050629758011366099

In [27]:
df.at[dates[0],'A']

-0.050629758011366099

In [28]:
df.iloc[3]

A   -0.340377
B    0.248557
C   -0.674892
D    0.411950
Name: 2013-01-04 00:00:00, dtype: float64

In [29]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.340377  0.248557
2013-01-05  2.137912  0.730857

In [30]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.053730 -1.252138
2013-01-03  0.099480 -1.541487
2013-01-05  2.137912  0.552391

In [31]:
df.iloc[1:3,:]

                  A         B         C         D
2013-01-02  1.05373  2.388452 -1.252138 -0.436632
2013-01-03  0.09948 -0.297875 -1.541487  0.010356

In [32]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.336796  1.617014
2013-01-02  2.388452 -1.252138
2013-01-03 -0.297875 -1.541487
2013-01-04  0.248557 -0.674892
2013-01-05  0.730857  0.552391
2013-01-06 -1.149093 -0.480031

In [33]:
df.iloc[1,1]

2.3884518138905078

In [34]:
df.iat[1,1]

2.3884518138905078

In [35]:
# Boolean Indexing
df[df.A>0]

                   A         B         C         D
2013-01-02  1.053730  2.388452 -1.252138 -0.436632
2013-01-03  0.099480 -0.297875 -1.541487  0.010356
2013-01-05  2.137912  0.730857  0.552391  1.208585
2013-01-06  0.736088 -1.149093 -0.480031 -0.189146

In [36]:
df[df>0]

                   A         B         C         D
2013-01-01       NaN  0.336796  1.617014  0.425687
2013-01-02  1.053730  2.388452       NaN       NaN
2013-01-03  0.099480       NaN       NaN  0.010356
2013-01-04       NaN  0.248557       NaN  0.411950
2013-01-05  2.137912  0.730857  0.552391  1.208585
2013-01-06  0.736088       NaN       NaN       NaN

In [37]:
# The isin() method for filtering
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.050630  0.336796  1.617014  0.425687    one
2013-01-02  1.053730  2.388452 -1.252138 -0.436632    one
2013-01-03  0.099480 -0.297875 -1.541487  0.010356    two
2013-01-04 -0.340377  0.248557 -0.674892  0.411950  three
2013-01-05  2.137912  0.730857  0.552391  1.208585   four
2013-01-06  0.736088 -1.149093 -0.480031 -0.189146  three

In [38]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.099480 -0.297875 -1.541487  0.010356   two
2013-01-05  2.137912  0.730857  0.552391  1.208585  four

In [39]:
# Setting a new column automatically aligns the data by the indexes
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [40]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01 -0.050630  0.336796  1.617014  0.425687  NaN
2013-01-02  1.053730  2.388452 -1.252138 -0.436632  1.0
2013-01-03  0.099480 -0.297875 -1.541487  0.010356  2.0
2013-01-04 -0.340377  0.248557 -0.674892  0.411950  3.0
2013-01-05  2.137912  0.730857  0.552391  1.208585  4.0
2013-01-06  0.736088 -1.149093 -0.480031 -0.189146  5.0

In [41]:
df.at[dates[0],'A'] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.336796  1.617014  0.425687  NaN
2013-01-02  1.053730  2.388452 -1.252138 -0.436632  1.0
2013-01-03  0.099480 -0.297875 -1.541487  0.010356  2.0
2013-01-04 -0.340377  0.248557 -0.674892  0.411950  3.0
2013-01-05  2.137912  0.730857  0.552391  1.208585  4.0
2013-01-06  0.736088 -1.149093 -0.480031 -0.189146  5.0

In [42]:
df.iat[0,1] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  1.617014  0.425687  NaN
2013-01-02  1.053730  2.388452 -1.252138 -0.436632  1.0
2013-01-03  0.099480 -0.297875 -1.541487  0.010356  2.0
2013-01-04 -0.340377  0.248557 -0.674892  0.411950  3.0
2013-01-05  2.137912  0.730857  0.552391  1.208585  4.0
2013-01-06  0.736088 -1.149093 -0.480031 -0.189146  5.0

In [43]:
# Setting by assigning with a numpy array
df.loc[:,'D'] = np.array([5]*len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  1.617014  5  NaN
2013-01-02  1.053730  2.388452 -1.252138  5  1.0
2013-01-03  0.099480 -0.297875 -1.541487  5  2.0
2013-01-04 -0.340377  0.248557 -0.674892  5  3.0
2013-01-05  2.137912  0.730857  0.552391  5  4.0
2013-01-06  0.736088 -1.149093 -0.480031  5  5.0

In [44]:
df2 = df.copy() # копирует значения, но не отображает
df2[df2>0] = -df2  # сделал все значения df2, которые > 0 , отрицательными
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.617014 -5  NaN
2013-01-02 -1.053730 -2.388452 -1.252138 -5 -1.0
2013-01-03 -0.099480 -0.297875 -1.541487 -5 -2.0
2013-01-04 -0.340377 -0.248557 -0.674892 -5 -3.0
2013-01-05 -2.137912 -0.730857 -0.552391 -5 -4.0
2013-01-06 -0.736088 -1.149093 -0.480031 -5 -5.0

In [45]:
# Недостающие данные
# Pandas в первую очередь использует значение np.nan для представления отсутствующих данных. 
# По умолчанию он не включен в вычисления.
# Reindexing позволяет вам изменять / добавлять / удалять индекс по указанной оси. 
# Это возвращает копию данных.
df1 = df.reindex(index=dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  1.617014  5  NaN  1.0
2013-01-02  1.053730  2.388452 -1.252138  5  1.0  1.0
2013-01-03  0.099480 -0.297875 -1.541487  5  2.0  NaN
2013-01-04 -0.340377  0.248557 -0.674892  5  3.0  NaN

In [46]:
# Удаление строк с отсутствующими данными
df1.dropna(how = 'any')

                  A         B         C  D    F    E
2013-01-02  1.05373  2.388452 -1.252138  5  1.0  1.0

In [47]:
# Заполнение отсутствующих данных
df1.fillna(value = 5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  1.617014  5  5.0  1.0
2013-01-02  1.053730  2.388452 -1.252138  5  1.0  1.0
2013-01-03  0.099480 -0.297875 -1.541487  5  2.0  5.0
2013-01-04 -0.340377  0.248557 -0.674892  5  3.0  5.0

In [48]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [49]:
# Operations. 
# Описательная статистика
df.mean()

A    0.614472
B    0.320150
C   -0.296524
D    5.000000
F    3.000000
dtype: float64

In [52]:
# Такая же операция на другой оси
df.mean(1)

2013-01-01    1.654254
2013-01-02    1.638009
2013-01-03    1.052023
2013-01-04    1.446658
2013-01-05    2.484232
2013-01-06    1.821393
Freq: D, dtype: float64