In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#### OBJECT CREATION

# Series
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
# Datetime
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# DataFrame
# np.random.randn - Return a sample (or samples) from the “standard normal” distribution
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))
df

                   A         B         C         D
2013-01-01  1.577843 -0.979979  0.677107  0.180424
2013-01-02  1.662359  0.234292  0.911377  0.519584
2013-01-03  1.563233 -0.767242 -0.185157  0.426240
2013-01-04 -0.267713 -0.474738  2.025374 -0.703139
2013-01-05  0.199391  1.516424 -0.451847 -0.707377
2013-01-06  1.078173  0.366903 -1.256921 -0.172117

In [8]:
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20130102'), 
                    'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    'D' : np.array([3] *4, dtype = 'int32'),
                   'E' : pd. Categorical(["test", "train", "test", "train"]),
                   'F' : 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df2. # +<TAB>

SyntaxError: invalid syntax (<ipython-input-12-07fdab42a885>, line 1)

In [6]:
##### VIEWING DATA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))

df.head()

                   A         B         C         D
2013-01-01 -0.398020 -0.090901 -0.951057 -0.091082
2013-01-02 -0.276463  1.050258 -0.674109  0.587897
2013-01-03 -0.953643  0.791413 -1.340126  0.319807
2013-01-04 -2.797240 -0.781367 -0.051677  1.116477
2013-01-05 -0.107137 -2.092128  0.180060  0.183549

In [7]:
df.tail(3)

                   A         B         C         D
2013-01-04 -2.797240 -0.781367 -0.051677  1.116477
2013-01-05 -0.107137 -2.092128  0.180060  0.183549
2013-01-06 -1.203128 -0.334911 -0.139938  0.572565

In [8]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.values

array([[-0.39802043, -0.09090051, -0.95105679, -0.0910815 ],
       [-0.27646348,  1.05025826, -0.67410944,  0.5878973 ],
       [-0.95364259,  0.79141263, -1.34012608,  0.31980688],
       [-2.79723965, -0.78136702, -0.05167735,  1.11647694],
       [-0.10713657, -2.09212802,  0.18006001,  0.18354937],
       [-1.20312847, -0.33491094, -0.1399381 ,  0.5725655 ]])

In [11]:
# Transposing your data
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.398020   -0.276463   -0.953643   -2.797240   -0.107137   -1.203128
B   -0.090901    1.050258    0.791413   -0.781367   -2.092128   -0.334911
C   -0.951057   -0.674109   -1.340126   -0.051677    0.180060   -0.139938
D   -0.091082    0.587897    0.319807    1.116477    0.183549    0.572565

In [12]:
df.sort_index(axis=1, ascending = False)

                   D         C         B         A
2013-01-01 -0.091082 -0.951057 -0.090901 -0.398020
2013-01-02  0.587897 -0.674109  1.050258 -0.276463
2013-01-03  0.319807 -1.340126  0.791413 -0.953643
2013-01-04  1.116477 -0.051677 -0.781367 -2.797240
2013-01-05  0.183549  0.180060 -2.092128 -0.107137
2013-01-06  0.572565 -0.139938 -0.334911 -1.203128

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.955939 -0.242939 -0.496141  0.448202
std    0.994477  1.138703  0.588661  0.414470
min   -2.797240 -2.092128 -1.340126 -0.091082
25%   -1.140757 -0.669753 -0.881820  0.217614
50%   -0.675832 -0.212906 -0.407024  0.446186
75%   -0.306853  0.570834 -0.073743  0.584064
max   -0.107137  1.050258  0.180060  1.116477

In [14]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05 -0.107137 -2.092128  0.180060  0.183549
2013-01-04 -2.797240 -0.781367 -0.051677  1.116477
2013-01-06 -1.203128 -0.334911 -0.139938  0.572565
2013-01-01 -0.398020 -0.090901 -0.951057 -0.091082
2013-01-03 -0.953643  0.791413 -1.340126  0.319807
2013-01-02 -0.276463  1.050258 -0.674109  0.587897

In [15]:
df['A']

2013-01-01   -0.398020
2013-01-02   -0.276463
2013-01-03   -0.953643
2013-01-04   -2.797240
2013-01-05   -0.107137
2013-01-06   -1.203128
Freq: D, Name: A, dtype: float64

In [16]:
df[0 : 3]

                   A         B         C         D
2013-01-01 -0.398020 -0.090901 -0.951057 -0.091082
2013-01-02 -0.276463  1.050258 -0.674109  0.587897
2013-01-03 -0.953643  0.791413 -1.340126  0.319807

In [17]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.276463  1.050258 -0.674109  0.587897
2013-01-03 -0.953643  0.791413 -1.340126  0.319807
2013-01-04 -2.797240 -0.781367 -0.051677  1.116477