In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#### OBJECT CREATION

# Series
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# Datetime
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# DataFrame
# np.random.randn - Return a sample (or samples) from the “standard normal” distribution
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.288347  0.193026 -0.471341  1.653644
2013-01-02 -1.538597  1.207984  2.886310  0.928128
2013-01-03 -0.952955 -0.369049 -0.280112 -1.537965
2013-01-04 -1.458662 -0.565784  1.321270 -0.958312
2013-01-05 -0.628219  1.191395  0.228134 -0.309301
2013-01-06  0.485684 -1.353926 -0.219256  0.019732

In [5]:
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20130102'), 
                    'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    'D' : np.array([3] *4, dtype = 'int32'),
                   'E' : pd. Categorical(["test", "train", "test", "train"]),
                   'F' : 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
df2. # +<TAB>

SyntaxError: invalid syntax (<ipython-input-7-07fdab42a885>, line 1)

In [ ]:
##### VIEWING DATA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list ('ABCD'))

df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
# Transposing your data
df.T

In [ ]:
df.sort_index(axis=1, ascending = False)

In [ ]:
df.describe()

In [ ]:
df.sort_values(by='B')

In [ ]:
df['A']

In [ ]:
df[0 : 3]

In [ ]:
df['20130102':'20130104']

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,['A','B']]

In [ ]:
df.loc['20130102':'20130104',['A','B']]

In [ ]:
df.loc['20130102',['A','B']]

In [ ]:
df.loc[dates[0],'A']

In [ ]:
df.at[dates[0],'A']

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5,0:2]

In [ ]:
df.iloc[[1,2,4],[0,2]]

In [ ]:
df.iloc[1:3,:]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.iloc[1,1]

In [ ]:
df.iat[1,1]

In [ ]:
# Boolean Indexing
df[df.A>0]

In [ ]:
df[df>0]

In [ ]:
# The isin() method for filtering
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

In [ ]:
df2[df2['E'].isin(['two','four'])]

In [ ]:
# Setting a new column automatically aligns the data by the indexes
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F'] = s1
df

In [ ]:
df.at[dates[0],'A'] = 0
df

In [ ]:
df.iat[0,1] = 0
df

In [ ]:
# Setting by assigning with a numpy array
df.loc[:,'D'] = np.array([5]*len(df))
df

In [ ]:
df2 = df.copy() # копирует значения, но не отображает
df2[df2>0] = -df2  # сделал все значения df2, которые > 0 , отрицательными
df2

In [ ]:
# Недостающие данные
# Pandas в первую очередь использует значение np.nan для представления отсутствующих данных. 
# По умолчанию он не включен в вычисления.
# Reindexing позволяет вам изменять / добавлять / удалять индекс по указанной оси. 
# Это возвращает копию данных.
df1 = df.reindex(index=dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

In [ ]:
# Удаление строк с отсутствующими данными
df1.dropna(how = 'any')

In [ ]:
# Заполнение отсутствующих данных
df1.fillna(value = 5)

In [ ]:
pd.isnull(df1)

In [ ]:
# Operations. 
# Описательная статистика
df.mean()

In [ ]:
# Такая же операция на другой оси
df.mean(1)

In [ ]:
# Работа с объектами, которые имеют разную размерность и требуют выравнивания. 
# Кроме того, панды автоматически транслируются по указанному размеру.
s = pd.Series([1,3,5,np.nan,6,8], index = dates